WordGameClient/Connected Services/ServiceReference/WordGame.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WordGame" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WordGame" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameBeingHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBeingHostedException" nillable="true" type="tns:GameBeingHostedException" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaximunNumberOfPlayersReachedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerNum" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaximunNumberOfPlayersReachedException" nillable="true" type="tns:MaximunNumberOfPlayersReachedException" />
  <xs:complexType name="HostCannotJoinTheGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostCannotJoinTheGameException" nillable="true" type="tns:HostCannotJoinTheGameException" />
  <xs:complexType name="GameIsNotBeingHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameIsNotBeingHostedException" nillable="true" type="tns:GameIsNotBeingHostedException" />
  <xs:complexType name="PlayerNotPlayingTheGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerNotPlayingTheGameException" nillable="true" type="tns:PlayerNotPlayingTheGameException" />
</xs:schema>